<!DOCTYPE html>
<html>
<head>
  <!-- Site made with Mobirise Website Builder v4.3.0, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.3.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="static/assets/images/logo2.png" type="image/x-icon">
  <meta name="description" content="Web Creator Description">
  <title>Library</title>
  <link rel="stylesheet" href="static/assets/web/static/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="static/assets/tether/tether.min.css">
  <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="static/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="static/assets/theme/css/style.css">
  <link rel="stylesheet" href="static/assets/mobirise-gallery/style.css">
  <link rel="stylesheet" href="static/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
<section class="mbr-section content4 cid-qwQrVhBxeB" id="content4-h" data-rv-view="58">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    {{ username }}'s Library</h2>
                
                
            </div>
        </div>
    </div>
</section>

<section class="engine"><a href="https://mobirise.co/f">bootstrap builder</a></section><section class="mbr-section content8 cid-qwQsZRBkMC" id="content8-i" data-rv-view="60">

    

    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="/">DOWNLOAD AS PDF</a></div>
            </div>
        </div>
    </div>
</section>

<section class="menu cid-qwLSN1I2CA" once="menu" id="menu2-a" data-rv-view="61">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://mobirise.com">
                        <img src="static/assets/images/logo2.png" alt="Mobirise" media-simple="true" style="height: 3.8rem;">
                    </a>
                </span>
                
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-black display-4" href="https://mobirise.com">
                        Services
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="https://mobirise.com">
                        About Us
                    </a>
                </li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-secondary-outline display-4" href="tel:+1-234-567-8901">
                    <span class="btn-icon mbri-mobile mbr-iconfont mbr-iconfont-btn"></span><font face="MobiriseIcons"><br></font>MY LIBRARY<br></a></div>
        </div>
    </nav>
</section>

<section class="mbr-gallery mbr-slider-carousel cid-qwQqzWc94N" id="gallery1-g" data-rv-view="63">

    <div class="container">
        <div>
            <div class="mbr-gallery-row">
                <div class="mbr-gallery-layout-default">
                    <div>
                        <div>
                            {% for song_info in library %}
                            <div class="mbr-gallery-item mbr-gallery-item--p1" data-video-url="false" data-tags="Awesome">
                                <div href="#lb-gallery1-g" data-slide-to="0" data-toggle="modal">
                                    <img src="static/assets/images/gallery00.jpg" alt=""><span class="icon-focus"></span>
                                    <span class="mbr-gallery-title mbr-fonts-style display-7"><strong>{{ song_info.title }}</strong><br>{{ song_info.artiste }}, <em>{{ song_info.album }}</em></span>
                                </div>
                            </div>
                            {% endfor %}

                        </div></div></div></div></div>
    </div>

</section>


  <script src="static/assets/web/static/assets/jquery/jquery.min.js"></script>
  <script src="static/assets/popper/popper.min.js"></script>
  <script src="static/assets/tether/tether.min.js"></script>
  <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="static/assets/smooth-scroll/smooth-scroll.js"></script>
  <script src="static/assets/dropdown/js/script.min.js"></script>
  <script src="static/assets/touch-swipe/jquery.touch-swipe.min.js"></script>
  <script src="static/assets/jquery-mb-vimeo_player/jquery.mb.vimeo_player.js"></script>
  <script src="static/assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js"></script>
  <script src="static/assets/masonry/masonry.pkgd.min.js"></script>
  <script src="static/assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="static/assets/theme/js/script.js"></script>
  <script src="static/assets/mobirise-gallery/player.min.js"></script>
  <script src="static/assets/mobirise-gallery/script.js"></script>
  <script src="static/assets/mobirise-slider-video/script.js"></script>
  
  
</body>
</html>