<!DOCTYPE html>
<html>
    <head>
      <!-- Site made with Mobirise Website Builder v4.3.0, https://mobirise.com -->
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="generator" content="Mobirise v4.3.0, mobirise.com">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" href="static/assets/images/logo2.png" type="image/x-icon">
      <meta name="description" content="Web Site Builder Description">
      <title>Lyrics</title>
      <link rel="stylesheet" href="static/assets/web/static/assets/mobirise-icons/mobirise-icons.css">
      <link rel="stylesheet" href="static/assets/tether/tether.min.css">
      <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap-grid.min.css">
      <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap-reboot.min.css">
      <link rel="stylesheet" href="static/assets/dropdown/css/style.css">
      <link rel="stylesheet" href="static/assets/theme/css/style.css">
      <link rel="stylesheet" href="static/assets/mobirise/css/mbr-additional.css" type="text/css">
    </head>
<body>

<section class="menu cid-qwLSN1I2CA" once="menu" id="menu2-7" data-rv-view="46">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://mobirise.com">
                        <img src="static/assets/images/logo2.png" alt="Mobirise" media-simple="true" style="height: 3.8rem;">
                    </a>
                </span>
                
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-black display-4" href="https://mobirise.com">
                        Services
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="https://mobirise.com">
                        About Us
                    </a>
                </li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-secondary-outline display-4" href="tel:+1-234-567-8901">
                    <span class="btn-icon mbri-mobile mbr-iconfont mbr-iconfont-btn"></span><font face="MobiriseIcons"><br></font>MY LIBRARY<br></a></div>
        </div>
    </nav>
</section>

<section class="engine"><a href="https://mobirise.co/c">site maker</a></section><section class="mbr-section content4 cid-qwQmJ7NJ0m" id="content4-c" data-rv-view="48">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    {{ song_title }}</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5"><strong>
                    {{ artist }}</strong>, <em>{{ album }}</em></h3>
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content8 cid-qwQpFThoHt" id="content8-f" data-rv-view="50">

    

    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="/pdf_download?track_id={{ track_id }}">DOWNLOAD AS PDF</a>
                    <a class="btn btn-black-outline display-4" href="/add_to_lib">ADD TO LIBRARY</a></div>
            </div>
        </div>
    </div>
</section>

<section class="tabs1 cid-qwQtL29Vjd" id="tabs1-l" data-rv-view="51">

    

    
    <div class="container">
        
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"><a class="nav-link mbr-fonts-style active" role="tab" data-toggle="tab" href="#tabs1-l_tab0" aria-expanded="true"><strong>LYRICS</strong></a></li>
                    <li class="nav-item"><a class="nav-link mbr-fonts-style active" role="tab" data-toggle="tab" href="#tabs1-l_tab1" aria-expanded="true"><strong>CHORDS</strong></a></li>
                    
                    
                    
                    
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane in active" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mbr-text py-5 mbr-fonts-style display-7">
                                    {{ lyrics }}</p>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" class="tab-pane" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mbr-text py-5 mbr-fonts-style display-7">
                                    {{ chords }}</p>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>


  <script src="static/assets/web/static/assets/jquery/jquery.min.js"></script>
  <script src="static/assets/popper/popper.min.js"></script>
  <script src="static/assets/tether/tether.min.js"></script>
  <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="static/assets/smooth-scroll/smooth-scroll.js"></script>
  <script src="static/assets/dropdown/js/script.min.js"></script>
  <script src="static/assets/touch-swipe/jquery.touch-swipe.min.js"></script>
  <script src="static/assets/theme/js/script.js"></script>
  
  
</body>
</html>