<!DOCTYPE html>
<html>
<head>
  <!-- Site made with Mobirise Website Builder v4.3.0, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.3.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="static/assets/images/logo2.png" type="image/x-icon">
  <meta name="description" content="Web Site Builder Description">
  <title>signup_page</title>
  <link rel="stylesheet" href="static/assets/web/static/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="static/assets/tether/tether.min.css">
  <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="static/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="static/assets/theme/css/style.css">
  <link rel="stylesheet" href="static/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
<section class="menu cid-qwLSN1I2CA" once="menu" id="menu2-o" data-rv-view="104">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://mobirise.com">
                        <img src="static/assets/images/logo2.png" alt="Mobirise" media-simple="true" style="height: 3.8rem;">
                    </a>
                </span>
                
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-black display-4" href="https://mobirise.com">
                        Services
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="https://mobirise.com">
                        About Us
                    </a>
                </li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-secondary-outline display-4" href="tel:+1-234-567-8901">
                    <span class="btn-icon mbri-mobile mbr-iconfont mbr-iconfont-btn"></span><font face="MobiriseIcons"><br></font>MY LIBRARY<br></a></div>
        </div>
    </nav>
</section>

<section class="engine"><a href="https://mobirise.co/e">website building software</a></section><section once="" class="cid-qwQlzk54xI" id="footer6-p" data-rv-view="106">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">Creative Commons, BY-ND-NC.</p>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section form1 cid-qysCYC9gpd" id="form1-q" data-rv-view="109">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                    SIGNUP</h2>
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                    <div data-form-alert="" hidden="">Thanks for filling out the form!</div>
            
                    <form class="mbr-form" action="/signup" method="post" data-form-title="Mobirise Form">
                        <input type="hidden" data-form-email="true" value="xTzyU92FNx0KLTwprVSZWY3MGKJYx8cFjM5z">
                        <div class="row row-sm-offset">
                            <div class="col-md-4 multi-horizontal" data-for="name">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="name-form1-q">Name</label>
                                    {{ name(class="form-control", id="name-form1-q") }}
                                </div>
                            </div>
                            <div class="col-md-4 multi-horizontal" data-for="email">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="email-form1-q">Email</label>
                                    {{ email(class="form-control", id="email-form1-q", type="email") }}
                                </div>
                            </div>
                            <div class="col-md-4 multi-horizontal" data-for="password">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="password-form1-q">Password</label>
                                    {{ password(class="form-control", id="password-form1-q", type="password") }}
                                </div>
                            </div>
                        </div>
                        
            
                        <span class="input-group-btn">{{ submit(class="btn btn-primary btn-form display-4") }}</span>
                    </form>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section form1 cid-qysDsz63TW" id="form1-r" data-rv-view="112">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">LOGIN</h2>
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                    <div data-form-alert="" hidden="">Thanks for filling out the form!</div>
            
                    <form class="mbr-form" action="/login" method="post" data-form-title="Mobirise Form"><input type="hidden" data-form-email="true" value="AurJoPP2SafLxhvnt+vPem3nGYOZTjw5Vsg2PgS1GLljikLccrSb8GgCtKKcQhXVHqc63LXoaaK02CZPn0xe0Ev9iGmiMbGXtfgiQZb/NDXo4INOHUzIp3FYgcsGtgsu">
                        <div class="row row-sm-offset">
                            
                            <div class="col-md-4 multi-horizontal" data-for="email">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="email-form1-r">Email</label>
                                    <input type="email" class="form-control" name="email" data-form-field="Email" required="" id="email-form1-r">
                                </div>
                            </div>
                            <div class="col-md-4 multi-horizontal" data-for="phone">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-r">Password</label>
                                    <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="phone-form1-r">
                                </div>
                            </div>
                        </div>
                        
            
                        <span class="input-group-btn"><button href="/login" type="submit" class="btn btn-primary btn-form display-4">SUBMIT</button></span>
                    </form>
            </div>
        </div>
    </div>
</section>


  <script src="static/assets/web/static/assets/jquery/jquery.min.js"></script>
  <script src="static/assets/popper/popper.min.js"></script>
  <script src="static/assets/tether/tether.min.js"></script>
  <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="static/assets/smooth-scroll/smooth-scroll.js"></script>
  <script src="static/assets/dropdown/js/script.min.js"></script>
  <script src="static/assets/touch-swipe/jquery.touch-swipe.min.js"></script>
  <script src="static/assets/theme/js/script.js"></script>
  <script src="static/assets/formoid/formoid.min.js"></script>
  
  
</body>
</html>